.container{
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar{
    width: 90%;
    min-height: 50px;
    background-color: #007bff;
    border-radius: 30px;
    display: flex;
    justify-content:center;
    gap: 30px;
    align-items: center;

}